body {
  font-size: 16px;
}

h1 {
  color: orange;
  font-family: sans-serif;
  font-size: 65px;
  text-align: center;
  text-decoration: underline;
}

p {
  font-size: 3em;
  font-weight: 600;
}

ul {
  font-style: italic;
  line-height: 2;
}

.content {
  background-color: rgb(35, 105, 35);
}

#color-1 {
  background-color: yellow;
}

#color-2 {
  background-color: red;
}

#color-3 {
  background-color: brown;
}
